<div class="div-column-container card shadow-lg p-3 mb-5 bg-white rounded"></div>

<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <div class="div-column card bg-primary text-white shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-header"><h3>To-Do</h3></div>
        <div class="card-body">
          <p class="card-text">
            <app-card></app-card>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="div-column card bg-info text-white shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-header"><h3>In Progress</h3></div>
        <div class="card-body">
          <p class="card-text">to do list etc etc</p>
          <app-card></app-card>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="div-column card bg-success text-white shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-header"><h3>Done</h3></div>
        <div class="card-body">
          <p class="card-text">to do list etc etc</p>
          <app-card></app-card>
        </div>
      </div>
    </div>
  </div>

</div>
